/* * {
  font-family: 'Lexend', sans-serif !important;
}  
.fa {
  font-family: 'FontAwesome', Arial, sans-serif !important;
} */
.font-basker{
  font-family: 'Libre Baskerville', serif !important;
  font-style: italic;
}
.card-header label{
  font-weight: 300 !important;
}
.card-footer{
  font-weight: 300 !important;
}
.main{
    height: 100vh;
}
button , input {
  box-shadow: none !important;
  outline: none !important;
}
button:focus , button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.main-parent{
    height: 500px;;
}
.my-col-left{
    background-color: purple;

}
.my-col-right{
    height: 500px;
    
}


/* Form switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
#signup-col{
    transition: all 0.5s linear all;
}
#signin-col{
    transition: all 0.5s linear all;
}
#signup-col{
    display: none;
}
ul#list li#liText{
  margin: 10px 0;
  display: flex;    
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
ul#list li#liText p {
  flex-grow: 15;
  text-align: left;
  margin-bottom: 0 !important;
}
ul#list li#liText button{
  flex-grow:1 ;
  margin: 0px 10px;
}

button.myIconBtn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-body {

  overflow-y: scroll;
}
div#noData {
  display: flex;
  justify-content: center;
}
div#noData span {
  color: #b50000;
  margin: 0 10px;
  font-size: 25px;
}
.logout {
  position: fixed;
  right: -18px;
  top: 50%;
  z-index: 1000;
  transform: rotate(90deg);
}